{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}柚木の杜{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=20260128">
</head>

<body>
    {% include "components/header.html" %}
    <section class="hero">
        <div class="hero-inner">
            <h1>柚木の杜</h1>
            <p>柚木の気ままな備忘録</p>
        </div>
    </section>
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    {% include "components/footer.html" %}
</body>
</html>
