<aside class="sidebar">
    <section class="sidebar-box profile">
        <img src="{% static 'static/images/profile_icon.png' %}" alt="">
        <h2>このサイトについて</h2>
        <p>
            技術メモや日々の雑記。
            気ままに趣味の記事や成果物も紹介する。
        </p>
    </section>

    <section class="sidebar-box">
        <h2>カテゴリ</h2>
        <ul>
            <li>Network</li>
            <li>Server</li>
            <li>Cloud</li>
            <li>Linux</li>
            <li>Programming</li>
        </ul>
    </section>
</aside>
