{% load static %}
{% load blog_tags %}


<section class="sidebar-box profile">
    <div class="profile-avatar">
        <img src="{% static 'images/profile_icon.png' %}" alt="プロフィール">
    </div>
    <h2>管理人： 柚木 </h2>
    <p>
        ネットワーク領域をメインとしているエンジニア。<br>
        このサイトはナレッジとして技術メモや日々の雑記を残すために作成。<br>
        気ままに趣味の記事や制作物も残していく。
    </p>
</section>

<section class="sidebar-box">
    <form action="{% url 'blog:post_search' %}" method="get" class="search-form">
        <input type="text" name="q" placeholder="キーワード検索" value="{{ request.GET.q|default:'' }}">
        <button type="submit" class="search-button">検索</button>
    </form>
</section>

<section class="sidebar-box">
    <h2>カテゴリ</h2>
    {% category_list %}
</section>

<section class="sidebar-box">
    <h2>タグ</h2>
    {% tag_list %}
</section>

<section class="sidebar-box">
    <h2>アーカイブ</h2>
    {% archives %}
</section>

<section class="sidebar-box">
    <h2>最新記事</h2>
    {% recent_posts %}
</section>
